<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">  
  </head>  
  <body>
    <h1>Create New Player Card</h1>
    <form class = "addPlayerForm" action="/players" method="POST">
      <input type="text" name="name" placeholder="Player name">
      <input type="text" name="position" placeholder="Position">
      <input type="text" name="team" placeholder="Team(s)">
      <input type="text" name="nickname" placeholder="Nickname">
      <input type="text" name="titles" placeholder="Titles">
      <input type="text" name="avatar" placeholder="Avatar URL">
      <hr>
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <hr>
      <input type="submit" name="" value="Create New Person">
      <div class = "ballers">
      <img src = "http://www.pngmart.com/files/2/Kobe-Bryant-Transparent-Background.png">
      <img src = "http://www.pngmart.com/files/2/LeBron-James-PNG-Picture.png">
      </div>
    </form>
  </body>
</html>