<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">  
  </head>  
  <body>
    <h1>Create New Player Card</h1>
    <form class = "addPlayerForm" action="/players" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="position" placeholder="Position">
      <input type="text" name="teams" placeholder="Team(s)">
      <input type="text" name="nickname" placeholder="Nickname">
      <input type="text" name="titles" placeholder="Titles">
      <input type="text" name="avatar" placeholder="Avatar URL">
      <hr>
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <hr>
      <input type="submit" name="" value="Create New Person">
      <div class = "ballers">
      <img src = "https://media.tenor.com/images/5809cf4d61dc047ff129416fbfc13d66/tenor.gif">
      <h1>^^ Don't be that guy ^^</h1>
      <a href = "http://localhost:3000/players">Return to Home Page</a>      
      </div>
    </form>
  </body>
</html>