<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">  
</head>  
  <body>
    <h1>NBA Players List</h1>
    <div class = "links">
        <a href="http://localhost:3000/addplayer">Add Player Card</a>      
    </div>
    <div class = "playersCards">
      {{#playersLoad}}
        <div class = "playerinfo">
        <h1>{{name}}</h1>
        <h3>{{nickname}}</h3>
        <p>{{position}}</p>
        <p>{{teams}}</p>
        <img src = {{avatar}}>
        <form class = "deletePlayerForm" action="/players" method="POST">          
          <input type="submit" name="deletePlayer" value="Delete Player"> 
        </form>      
        <form class = "editPlayerForm" action="/editplayer" method="POST">                    
          <input type="submit" name="editPlayer" value="Edit Player">   
        </form>         
        </div>
      {{/playersLoad}}
    </div>
  </body>
</html>