Test, bro.

<div class="playerCard">
    <h1 class="name">{{name}}</h1>
        <img src="{{avatar}}" class="w-100 db" alt="{{name}}">
    <div class="stats">
        <a href="/player/{{_id}}">{{titles}}</a>
            <div class="team">{{team}}</div>
    </div>
</div>