body {
    background-color: lightcoral;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}
.playerinfo {
    display: flex;
    flex-wrap: wrap;
}
.playersCards {
    display: flex;
    flex-wrap: wrap;
}
.playerinfo{
    margin: 15px;
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;   
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}